JS_TOP=/sas/pm
JS_HOST=sasgrid1.{{DomainDNSName}}
JS_ADMINS=lsfadmin
JS_BINARY_TYPES='pm10.1_svr_sas_lnx26-x64 pm10.1_clt_sas_lnx26-x64'
LSF_INSTALL=true
LSF_TOP=/sas/lsf
LSF_ADMINS=lsfadmin
LSF_CLUSTER_NAME=sas_cluster
LSF_MASTER_LIST="sasgrid1.{{DomainDNSName}}"
LSF_ADD_SERVERS="sasgridmeta1.{{DomainDNSName}} SECONDARY_GRIDNODES sasgridmidtier1.{{DomainDNSName}}"
LSF_ENVDIR=/sas/lsf/conf
EGO_CONFDIR=/sas/lsf/conf/ego/sas_cluster/kernel
SILENT_INSTALL=Y
LSF_SILENT_INSTALL_TARLIST=ALL
LSF_QUIET_INST=Y
